/* ROOT */
:root {
   /* COLORS */
  --ms_bg-color-header:#2C3E50;
  --ms_bg-color-ocean:#1ABC9C;
  --ms_bg-top-footer:#3A546D;
  --ms_bg-bottom-footer:#2C3E50;
}
/* HEADER */
header {
  background-color: var(--ms_bg-color-header);
  color: white;
}

header a {
  color: inherit;
  text-decoration: none;
}

.header-list li {
  list-style-type: none;
}


/* MAIN */
.ms_star {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ms_star hr {
  width: 35%;
  border-top: 4px solid;
  opacity: 1;
}

/* HERO */
#hero {
  background-color: var(--ms_bg-color-ocean);
  color: white;
}

.ms_avatar {
  max-width: 50%;
}

.container_80 {
  width: 80%;
  margin: 0 auto;

  /* debug */
  min-height: 300px;
}

@media screen and (min-width:768px) {
  .ms_avatar {
    width: 250px;
  }
}

/* PORTFOLIO */
.ms_border-card {
  border-radius: 2rem;
  background-color: transparent;
}
/* ABOUT */
#about {
  background-color: var(--ms_bg-color-ocean);
  color: white;
}

/* CONTACT ME */
#contacts-me {
  min-height: 300px;
}

/* FOOTER */
footer {
  background-color: var(--ms_bg-top-footer);
}

#footer-bottom {
  background-color: var(--ms_bg-bottom-footer);
  color: white;
  text-align: center;
  /* debug */
  min-height: 80px;
}