/* ROOT */
:root {
  --bg-color-ocean:#1ABC9C;
  --bg-top-footer:#3A546D;
  --bg-bottom-footer:#2C3E50;
}
/* HEADER */
header {
  background-color: #2C3E50;
  color: white;
}

header a {
  color: inherit;
  text-decoration: none;
}

.header-list {
  display: none;
}

.header-list li {
  list-style-type: none;
}

@media screen and (min-width:768px) {
  .header-list {
    display: flex;
  }

  .example {
    display: none;
  }
}

/* HERO */
#hero {
  background-color: var(--bg-color-ocean);
}

.container_80 {
  width: 80%;
  margin: 0 auto;

  /* debug */
  min-height: 300px;
}

@media screen and (min-width:768px) {
  .container_80 {
    width: 60%;
  }
}

/* ABOUT */
#about {
  background-color: var(--bg-color-ocean);
  /* debug */
  min-height: 300px
}

/* CONTACT ME */
#contacts-me {
  min-height: 300px;
}

/* FOOTER */
footer {
  background-color: var(--bg-top-footer);
}

#footer-bottom {
  background-color: var(--bg-bottom-footer);
  color: white;
  text-align: center;
  /* debug */
  height: 80px;
}